<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='photo/logo.jpg') }}" type="image/jpeg">
    <title>PDF Summarization Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .navbar {
            max-width: fit-content;
            background-color: #f8f9fa;
            padding: 10px;
            border-bottom: 2px solid #ced4da;
            font-family: 'Source Sans 3', sans-serif;
        }
        .nav-link {
            text-decoration: none;
            color: #495057;
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }
        .nav-link:hover {
            background-color: #e2e6ea;
            color: #007bff;
            text-decoration: none;
        }
        .navbar a {
            color: #0068c9;
            padding: 8px 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg text-center mx-auto">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                      Summarization
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/summarize">Text</a></li>
                      <li><a class="dropdown-item" href="/pdf_summarize">PDF</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/classify">Misspell Checker</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="/compare">Content Comparison</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/content_generation">Content Generation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recommendation">Learning Recommendation</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>

    <div class="upload-container">
        <h1>PDF Summarization Tool</h1>
        <p>Upload a PDF file and receive a concise summary.</p>
        <p style="color: red;"><b>Please only use PDF with 1 page for testing!.</b></p>
        <p style="color: red;""><b>More pages = more costs</b></p>
        <form action="/pdf_summarize" method="post" enctype="multipart/form-data" class="upload-form" onsubmit="onSubmit()">
            <div class="file-upload-wrapper">
                <input type="file" name="pdf_file" id="pdf_file" class="input-file" accept="application/pdf" required>
                <label for="pdf_file" class="file-upload-label">Drag and drop file here or <span class="file-upload-btn">Browse files</span></label>
            </div>
            <div class="upload-warning" id="upload-warning">Please select a PDF file</div>
            <button type="submit" class="upload-button" onclick="onSubmit()">Upload</button>
        </form>

        <div class="loading" id="loading">
          <div class="spinner"></div>
      </div>

        {% if summary %}
            <div class="summary-section">
                <h2>Summary:</h2>
                <div class="summary-content">{{ summary }}</div>
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-Q6Fgs/1r8dIXVw2xhxbsTtFq2QDg7OA95P02CYc+3lDfR6c4Sahj11N56vSpvbl5" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</html>
